*{
    margin: 0;
    padding: 0;
}

/* Estilos del header */

header{
    background-color:orange;
    width: 100%; /*width en % height en pixeles*/
    position:fixed;
}

.containerHeader{
    display: flex;
    align-items: center;
    padding-top: 5px; /*1.1%*/
    padding-left: 5px; /*1.1%*/
    padding-bottom: 5px;
}

.logo{
    width: 30px; /*2.5%*/
    cursor: pointer;
    margin-right: 2px; /*.5%*/
    transition-duration: 00.4s;
    padding: 9px; /*.5%*/
    border-radius: 50%;
}

.logo:hover{
    background-color: #f0f0f0;
    
}

button{
    padding: 16px; /*1.1%*/
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
}

.inicio{
    transition-duration: 0.4s;
    border: none;
}

.inicio:hover{
    background-color: black;
    color: white
}

.hoy{
    transition-duration: 0.4s;
    border: none;
}

.hoy:hover{
    background-color: black;
    color: white;
}

.buscador{
    display: flex;
    background-color:whitesmoke;
    padding: 16px; /*1.1%*/
    border-radius: 30px;
    margin-left: 5px; /*.5%*/
    margin-right: 2px; /*.5%*/
    width: 70%;
}

.buscador:hover{
    background-color: #f0f0f0;
}

.lupa{
    padding-left: 5px; /*.5%*/
    padding-right: 7px;
}

input{
    padding-left: 2px; /*.5%*/
    border: none;
    background-color: whitesmoke;
    width: 100%;
}

input:hover{
    background-color: #f0f0f0;
}

.thirdSection{
    display: flex;
}

.notifications{
    width: 25px;
    margin-left: 2px; /*.5%*/
    cursor: pointer;
    transition-duration: 00.4s;
    padding: 12px; /*.9%*/
    border-radius: 50%;
}

.notifications:hover{
    background-color: #f0f0f0
}

.messages{
    width: 25px;
    margin-left: 2px; /*.5%*/
    cursor: pointer;
    transition-duration: 00.4s;
    padding: 12px; /*.9%*/
    border-radius: 50%;
}

.messages:hover{
    background-color: #f0f0f0;
}

.profilePhoto{
    padding: 10px; /*.6%*/
    width: 25px; 
    margin-left: 2px; /*.5%*/
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 00.4s;
}

.profilePhoto:hover{
    background-color: #f0f0f0;
}

.down{
    width: 8px;
    margin-left: 2px; /*.5%*/
    cursor: pointer;
    transition-duration: 00.4s;
    padding: 2px; /*.5%*/
    border-radius: 50%;
}

.down:hover{
    background-color: #f0f0f0;
}

/* Estilos del main */

main{
    padding-top: 60px;
    width: 100%;
    align-items: center;
}

.mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap:20px 20px;
}

.item{
    border-radius: 20px;
}

.item-1{
    width: 100%;
    height: 100%;
    border: 1px dotted goldenrod;
    background-color: greenyellow;
    color: grey;
}
.item-2{
    width: 100%;
    height: 100%;
    border: 1px dotted goldenrod;
    background-color: greenyellow;
    color: grey;
}
.item-3{
    width: 100%;
    height: 100%;
    border: 1px dotted goldenrod;
    background-color: greenyellow;
    color: grey;
}
.item-4{
    width: 100%;
    height: 100%;
    border: 1px dotted goldenrod;
    background-color: greenyellow;
    color: grey;
}
.item-5{
    width: 100%;
    height: 100%;
    border: 1px dotted goldenrod;
    background-color: greenyellow;
    color: grey;
}